<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="azure-cli" />
  <package id="chocolatey" />
  <package id="chocolateygui" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="ilspy" />
  <package id="nodejs-lts" />
  <package id="powershell-core" />
  <package id="vscode" packageParameters="/NoDesktopIcon" />
  <package id="winmerge" />

  <!-- TODO: branch package config for private and work -->

  <!-- For Private -->
  <package id="visualstudio2019community" packageParameters="--locale ja-JP --passive --norestart --add Microsoft.VisualStudio.Component.CoreEditor --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.Universal --add Microsoft.VisualStudio.Workload.NetCoreTools"/>

  <!-- For Work -->
  <package id="adobereader" />
  <package id="docker-desktop" />
  <package id="slack" />
  <package id="visualstudio2019professional" packageParameters="--locale ja-JP --passive --norestart --add Microsoft.VisualStudio.Workload.CoreEditor --add Microsoft.VisualStudio.Workload.Azure --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetCoreTools Microsoft.VisualStudio.Workload.NetCrossPlat --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.Universal"/>
</packages>