<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="azure-cli" />
  <package id="chocolatey" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="ilspy" />
  <package id="linqpad" />
  <package id="nodejs-lts" />
  <package id="powershell-core" />
  <package id="vim" packageParameters="/NoDesktopIcon /NoDefaultVimrc" />
  <package id="vscode" packageParameters="/NoDesktopIcon" />
  <package id="winmerge" />
</packages>
