<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RocketDock"/>
  <package id="visualstudio2019community" packageParameters="--locale ja-JP --passive --norestart --add Microsoft.VisualStudio.Component.CoreEditor --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.Universal --add Microsoft.VisualStudio.Workload.NetCoreTools"/>
</packages>