<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adobereader" />
  <package id="docker-desktop" />
  <package id="slack" />
  <package id="visualstudio2019professional" packageParameters="--locale ja-JP --passive --norestart --add Microsoft.VisualStudio.Workload.CoreEditor --add Microsoft.VisualStudio.Workload.Azure --add Microsoft.VisualStudio.Workload.ManagedDesktop --add Microsoft.VisualStudio.Workload.NetCoreTools Microsoft.VisualStudio.Workload.NetCrossPlat --add Microsoft.VisualStudio.Workload.NetWeb --add Microsoft.VisualStudio.Workload.Universal"/>
  <package id"zoom" />
</packages>