<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotcover" />
  <package id="dotpeek" />
  <package id="dotmemory" />
  <package id="dottrace" />
  <package id="resharper" />
  <package id="resharpercpp" />
  <package id="jetbrains-rider" />
  <package id="nbfc"/>
  <package id="webex-meetings"/>
</packages>
